*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.header{
    
    width: 100%;
    
    background-position: center;
    background-size: cover;
    position: relative;
}
.header1{
    min-height: 100vh;
    width: 100%;
    background-image: url(image/football1.jpg);
    
    background-position: center;
    background-size: cover;
    position: relative;
}
.header h1{
    font-size: 35px;
    color: #020c50;
    font-family: 'Kanit', sans-serif;
    padding-left: 0%;
}
nav{
    display: flex;
    padding: 3% 2%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(12, 184, 227, 0.9),rgba(255, 255, 255, 0.8));
    
    
}
nav img{
    width: 200px;
    padding-right: 10%;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 4px 15px;
    position: relative;
    background: #036;
    border-radius: 10px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    
}
.nav-links ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.text-box h1{
    font-size: 60px;
    color: #ebd726;
    font-family: 'Kanit', sans-serif;



}
.text-box h2{
    font-size: 25px;
    color: #ffffff;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
    color: rgb(227, 228, 232);
    

}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
  
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}


@media(max-width: 600px){                        
    .text-box h1{
        font-size: 32px;
    }
    .text-box h2{
        font-size: 16px;
    }
    .text-box p{
        font-size: 8px;
    }
    .nav img{
        width: 10px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #0062cc;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .nav-links ul li{
        background: none;
    }
    .header h1{
       display: none;
    }
  
    
    

  
}

/*-------program-----*/

.program{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
    
}
.h1{
    font-size: 36px;
    font-weight: 600;
    background: #0d72c0;
    

}
.p{
    color: #777;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    padding: 25px;

}
.row{
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
}
.program-col{
    flex-basis: 47%;
    background: #c6d6d9;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}
.h3{
    text-align: center;
    font-weight: 600;margin: 10px 0;
    margin: 10px 0;
}
.program-col:hover{
    box-shadow: 0 0 20px 0px rgba(152, 37, 37, 0.2);
    
    
}
.zero-btn{
    display: inline-block;
    text-decoration: none;
    color: #0d72c0;
    border: 1px solid #0d72c0;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}
.zero-btn:hover{
    border: 1px solid #0d72c0;
    background: #ffffff;
    transition: 1s;
}


@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
/*-------campus------*/

.campus{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}
.slider{
    position: relative;
    background: #000116;
    width: 80%;
    min-height: 70%;
    margin: 20px;
    overflow: hidden;
    border-radius: 12px;

}
.slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);

}

.slider .slide.active{
    clip-path: circle(150% at 1% 50%);
    transition: 2s;

}
.slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.slider .slide .info{
    position: absolute;
    color: rgb(8, 9, 9);
    background-color: rgba(255, 255, 255, 0.3);
    width: 91%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);


}
.slider .slide .info h2{
    font-size: 2em;
    font-weight: 800;

}
.slider .slide .info p{
    font-size: 1em;
    font-weight: 400;

}
.navigation{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
    

}
.slider:hover .navigation{
    opacity: 1;

}
.prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
}

.prev-btn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.next-btn{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
}
.navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255,0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}
.navigation-visibility .slide-icon.active{
    background: #4285f4;
}





/*--------facilities------*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
   

}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    
    
}
.facilities-col img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    

}
.facilities-col p{
    padding: 0;

}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.zero1-btn{
    display: inline-block;
    text-decoration: none;
    color: #0d72c0;
    border: 1px solid #0d72c0;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.zero1-btn:hover{
    border: 1px solid #0d72c0;
    background: #ffffff;
    transition: 1s;
}
/*-------testimonial-----*/


.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

}

.testimonials p{
    font-size: larger;
    color: #222;
}

.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #e0f3f7;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    margin-top: 150x;
    text-align: left;

}
.testimonials-col .fa{
    color: #3f7a9e;
}
@media(max-width: 700px){
    .testimonials-col img{
      
        margin-left: 0px;
        margin-right: 15px;
       
    }
}    
/*------call to action-------*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/online.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;

}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}
/*------footer-------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: #bdced8;

}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
   

}
.icons .fa{
    color: #135b85;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}
.fa-heart-o{
    color: #f44336

}
/*--------about us page-------*/
.sub-header{
    
    width: 100%;
    
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.header2{
    min-height: 70vh;
    width: 100%;
    background-image: url(image/pexels-robert-hernandez-villalta-128457.jpg);
    
    background-position: center;
    background-size: cover;
    position: relative;
}

    

 


.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;

}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
}
.video{
    width: 100%;
    height: 80%;
}
@media(max-width: 700px){
    .video video/mp4{
        width: 50%;
    }
}
/*--------blog content-------*/
.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;

}
.blog-left img{
    width: 100%;

}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: 0;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;

}
.comment-form button{
    margin: 10px 0;

}
@media(max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }

}

/*--------contact us-------*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;

}
.location iframe{
    width: 100%;

}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.goal{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/goal.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.goal h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;

}
.goal p{
    color: #ccc;
    margin-bottom: 20px;
    padding: 0;
}

.man{
    width: 100%;
   
    margin: auto;
    text-align: left;
    padding-top: 0;
    background: #97b1c5;
}
.man img{
    width: 20%;
}
.video{
    width: 80%;
    margin: 80px auto;
}








/*-------registration form-----*/
